html {
  font: 16px/1.6 Tahoma, Arial, sans-serif;
}

body {
  padding: 1rem;
  padding-bottom: 10rem;
  background: white;
  color: black;
}

label {
  display: block;
}

fieldset {
  margin: 2rem 0;
}

input {
  font: inherit;
  border: 1px solid #ccc;
}

table {
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.5rem;
}

h1,
h2 {
  font-weight: normal;
}

a {
  color: steelblue;
}

blockquote {
  position: relative;
  margin-left: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-left: 5px solid #ddd;
}

code {
  display: inline-block;
  padding: 0 3px;
  background: palegoldenrod;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  line-height: 1.6;
  color: darkred;
}

dd blockquote {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

dt {
  margin-bottom: 0.5rem;
}

dd + dt {
  margin-top: 1.5rem;
}

footer {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}

.hidden {
  display: none;
}

.page {
  max-width: 900px;
  margin: 0 auto;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  border-bottom: 1px solid #ccc;
  list-style: none;
  padding: 0;
}

.tab__link {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 75px;
  border: 1px solid transparent;
  border-bottom: 0;
  padding: 0.5rem;
  text-decoration: none;
}

.tab__link:hover {
  text-decoration: underline;
}

.tab__link--current {
  border-color: #ccc;
  box-shadow: 0 2px white, 0 -4px black;
  color: black;
}

.user-table-container {
  margin-bottom: 3rem;
}

.key {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  background: lemonchiffon;
}

.key--non-unique {
  background: mistyrose;
  font-style: italic;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin: 2rem 0 1.5rem;
}

.button {
  border: 0;
  min-width: 130px;
  padding: 0.75rem;
  font: inherit;
}

.button--add {
  background: yellowgreen;
}

.button--duplicate {
  background: lightsalmon;
}

.error-message {
  background: mistyrose;
  padding: 1rem;
}
